<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">{{ site.title }}</span>
    <div class="mdl-layout-spacer"></div>
<!--
    <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
      <form class="devsite-search-form" action="/search" method="GET">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="q" id="search-field" />
        </div>
        <script src='//www.google.com/jsapi' type='text/javascript'></script>
        <script type='text/javascript'>
        google.load('search', '1', {language: 'en', style: google.loader.themes.SHINY});
        google.setOnLoadCallback(function() {
          var customSearchOptions = {};
          var orderByOptions = {};
          orderByOptions['keys'] = [{label: 'Relevance', key: ''} , {label: 'Date', key: 'date'}];
          customSearchOptions['enableOrderBy'] = true;
          customSearchOptions['orderByOptions'] = orderByOptions;
          var customSearchControl =   new google.search.CustomSearchControl('008313295041711467873:a4oi2vhmdlo', customSearchOptions);
          customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
          var options = new google.search.DrawOptions();
          options.enableSearchboxOnly('https://mrfisch.com/search.html', 'q');
          options.setAutoComplete(true);
          customSearchControl.draw('search-field', options);
        }, true);
      </script>
      </form>
    </div>
-->
    <button class="mdl-button mdl-js-button mdl-button--icon" id="menu-lower-left">
      <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu-lower-left">
      {% for option in site.sister_sites %}
      <li><a href="{{ option[1].link }}" class="mdl-menu__item">{{ option[1].name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title"><a class="mdl-navigation__link" href="{{ site.url }}"><img src="{{ site.url }}/img/fish.png"></a></span>
  <div class="avatar" style="height: 200px; width: 200px; margin: 0 auto 2em;">
    <img src="{{ site.url }}/img/mdl-layout__drawer-avatar.png" alt="Avatar face" class="avatar-img" style="height: 200px; width: 200px; margin: 0 auto; border-radius: 50%;">
  </div>
  <nav class="mdl-navigation">
    {% for page in site.pages %}
      {% if page.title %}<a class="mdl-navigation__link" href="{{ page.url | prepend: site.url }}">{{ page.title }}</a>{% endif %}
    {% endfor %}
  </nav>
</div>
