---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Current Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

<figure style="width: 400px" class="align-right">
  <img src="{{ site.url }}{{ site.baseurl }}/img/home.jpg" alt="">
  <figcaption>Mr. Fisch Endorses This Site!</figcaption>
</figure>

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
